@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden; 
}

#viewer-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e9e9e9; 
    overflow: auto;
    z-index: 1;
}

#sidebar {
    position: absolute;
    top: 0;
    right: -300px;
    width: 300px;
    bottom: 0;
    background-color: #333;
    color: #fff;
    overflow: auto;
    transition: right 0.3s;
    z-index: 2;
    padding: 20px; /* Added padding to make it look nicer */
    margin: 5px
}

#toggle-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    cursor: pointer;
    color: #555;
}

#toggle-sidebar:hover{
    color: #aaa;
}

#drop-zone {
    margin-top: 20px;
    padding: 20px;
    border: 2px dashed #aaa;
    background-color: #f5f5f5;
    text-align: center;
    cursor: pointer;
}

/* Tree view styles */
#tree-container {
    margin: 0 px;
    padding: 0;
}

#classifications-list {
    padding: 0; 
}

/* Tree view styles */
#classifications-list h3 {
    font-size: 0.9em; /* Adjusted font size */
    margin: 2px; /* Added horizontal margin to keep the title from the edge */
    padding: 3px;
    background-color: #444;
    border-radius: 5px;
}

#classifications-list ul {
    margin: 0; /* Added horizontal margin to align with the h3 */
    padding: 0;
    list-style-type: none; /* Remove bullets */
}

#classifications-list ul li {
    font-size: 0.8em; /* Adjusted font size */
    margin: 4px 0;
    padding: 3px;
    border-radius: 3px;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s, color 0.2s; /* Added transitions */
    cursor: pointer; /* Indicates it's clickable */
}

#classifications-list ul li:hover {
    background-color: #555555; /* Change color when hovering over a list item */
    transform: translateY(-2px); /* A slight move upwards */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow beneath */
    color: #ddd; /* Slightly brighter text */
}

#classifications-list ul li span {
    cursor: pointer;
}

#classifications-list ul li a {
    cursor: pointer;
    color: #1f60db;
}

.dropzone-container
{
    display: flex;
    justify-content: space-between;
}

/* Adjustments for drop-zones to be side by side */
.drop-zone {
    width: 48%; /* Decrease width to make it appear side by side */
    height: 120px; /* Adjust height to fit contents nicely */
    margin-top: 20px;
    padding: 10px; /* Adjusted padding */
    border: 2px dashed #aaa;
    background-color: #f5f5f5;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s;
    position: relative;
    color: #333;  /* Darker font color */
    display: inline-block; /* This will make them side by side */
    vertical-align: top; /* Aligns the drop zones to the top if they have unequal content */
    margin-right: 2%; /* Space between drop zones */
    box-sizing: border-box; /* To account for padding and borders */
}

.drop-zone:last-child {
    margin-right: 0; /* No right margin for the last drop zone */
}

.drop-zone p {
    margin-top: 10px;
}

.drop-zone-icon {
    max-width: 50px; 
    display: block;
    margin: 0 auto;
}

.drop-zone:hover {
    background-color: #aaa;
}

.drop-zone.dragover {
    border-color: #666;
}

.drop-zone .file-name {
    font-size: 0.8em;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #f0ebeb;
    height: 100%;
    width: 6px;
    display: inline-block;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    animation-delay: -0.8s;
  }
  
  @keyframes stretchdelay {
    0%, 40%, 100% { transform: scaleY(0.4) }
    20% { transform: scaleY(1.0) }
  }
  
#mode-selection {
    margin-top: 20px;
    text-align: left;
}

.mode-btn {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#mode-selection #mode-label
{
    font-size: small;
    vertical-align: center;
    text-align: center;
}

.mode-btn:hover {
    background-color: #ddd;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

#top-sidebar {
    width: 100%;
    background-color: #f1f1f1; /* Example background color */
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    position: fixed; /* To keep it at the top */
    top: 0;
    left: 0;
    z-index: 1000;
}

.top-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #656865; /* Example button color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* Add more styling as per your preference */
}

.top-button:hover {
    background-color: #45a049; /* Example hover effect */
}

#toggle-top-sidebar {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2000; /* Ensure it's above other elements */
    cursor: pointer;
    font-size: 24px; /* Adjust size as needed */
    color: #555;
}

#toggle-top-sidebar:hover {
    color: #aaa;
}

#top-sidebar {
    display: none; /* Initially hide the sidebar */
    width: 100%;
    background-color: #f1f1f1; /* Example background color */
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    position: fixed; /* To keep it at the top */
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Ensure #top-sidebar doesn't overlay the right sidebar */
body.has-top-sidebar #viewer-container,
body.has-top-sidebar #sidebar {
    top: 60px; /* Adjust this value based on the height of your top sidebar */
}